/* Card.css */
/* .book {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 16px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.book {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: calc(33.333% - 10px);
  box-sizing: border-box;
}

.book-content {
  padding: 16px;
}

.book-title {
  font-size: 1.5em;
  margin: 0 0 8px;
}

.book-description {
  font-size: 1em;
  color: #666;
}
